.add-pet-image{
	height: 300px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
}
.column-form {
	float: left;
    width: 50%;
    padding-left:5%;
    padding-right: 5%;
}
.message {
	padding-left: 25%;
	padding-right: 25%;
	width: 100%;
}
