.column {
    float: left;
    width: 50%;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.pdfMakerRow:after {
    content: "";
    display: table;
    clear: both;
}
.pdfMakerRow {
    padding-bottom: 0px;
    padding-top: 0px;
}