.modal {
	position:unset
}
.ui.modal {
	position:unset
}
.ui.dimmer {
	padding-top: 5%;
}
.petPhotoRow {
	width: 100%;
	padding-left: 2%;
	overflow:hidden
}
.petPhotoColumn {
	float: left;
	display: block;
	margin-right: 10px;
	width: 50%;
	padding-left: 1%;
}
.featureColumn {
    float: left;
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
}
.featureRow:after {
    content: "";
    display: table;
    clear: both;
}
.featureRow {
	padding-bottom: 60px;
	padding-top: 40px;
}
